[Unit]
Description=OpenMTC ActuatorExample
After=network.target
Wants=ntp.service

[Service]
ExecStart=/usr/local/bin/actuator-example

[Install]
WantedBy=multi-user.target
