[Unit]
Description=OpenMTC LogicExample
After=network.target
Wants=ntp.service

[Service]
ExecStart=/usr/local/bin/logic-example

[Install]
WantedBy=multi-user.target
