{
    "name": "ZigBeeIPE",
    "ep": "http://localhost:8000",
    "cse_base": "onem2m",
    "host": "auto",
    "port": 6060,
    "usb_device": "/dev/ttyACM0",
    "sim": false,
    "sim_period": 300,
    "logging": {
        "level": "INFO",
        "file": "/var/log/openmtc/zigbeeipe.log"
    }
}
