[Unit]
Description=OpenMTC TemperatureSensor
After=network.target
Wants=ntp.service

[Service]
ExecStart=/usr/local/bin/temperature-sensor

[Install]
WantedBy=multi-user.target
