{
    "name": "Frontend",
    "ep": "http://localhost:8000",
    "cse_base": "onem2m",
    "host": "auto",
    "port": 7060,
    "logging": {
        "level": "INFO",
        "file": "/var/log/openmtc/frontend.log"
    }
}
